<tr>
    <td><%= name %></td>
    <td><%= subscribers %></td>
    <td class="text-center" title='delete group' onclick="remove('<%= name %>');"><img src="/images/glyphicons-8-user-remove.png"></img></td>
</tr>
